{% extends 'flatpages/default.html' %}

{% block title %}
Все объявления
{% endblock title %}

{% block content %}
    <h1>Все объявления</h1>
    <hr>
    <h6>Количество: {{ posts_list|length }}</h6>
    <hr>
    {% if user.is_authenticated %}
    <a href="{% url 'post_create' %}">Создать объявление</a>
    <hr>
    {% endif %}
    {% if posts_list %}
        <table class="table table-bordered">
            <tr>
                <td>Заголовок</td>
                <td>Дата публикации</td>
                <td>Текст</td>
                <td>Категория</td>
                <td>Автор</td>
                <td>Редактировать</td>
                <td>Удалить</td>
            </tr>
            {% for post in posts_list %}
            <tr>
                <td>
                    <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
                </td>
                <td>{{ post.created_at|date:'d.m.Y H:m:s' }}</td>
                <td>{{ post.text|truncatechars:20 }}</td>
                <td>{{ post.category }}</td>
                <td>{{ post.user.username }}</td>
                {% if user.is_authenticated %}
                <td>
                    <a href="{% url 'post_edit' post.id %}">Редактировать</a>
                </td>
                <td>
                    <a href="{% url 'post_delete' post.id %}">Удалить</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Объявлений нет!</h2>
    {% endif %}
    {% if page_obj.has_previous %}
        <a href="?page1">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}}</a>
        {% endif %}
    {% endif %}
{% endblock content %}
