{% extends 'flatpages/default.html' %}

{% load custom_tags %}

{% block title %}
Поиск объявлений
{% endblock title %}

{% block content %}
    <h1>Поиск объявлений</h1>
    <hr>
    <h6>Количество: {{ posts_search|length }}</h6>
    <hr>
    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти">
    </form>
    <table class="table table-bordered">
        <tr>
            <td>Заголовок</td>
            <td>Дата публикации</td>
            <td>Текст</td>
            <td>Пользователь</td>
        </tr>
        {% for post in posts_search %}
        <tr>
            <td>
                <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
            </td>
            <td>{{ post.created_at|date:'d.m.Y H:m:s' }}</td>
            <td>{{ post.text|truncatechars:20 }}</td>
            <td>{{ post.user.username }}</td>
            {% if user.is_authenticated %}
            <td>
                <a href="{% url 'post_edit' post.id %}">Редактировать</a>
                <a href="{% url 'post_delete' post.id %}">Удалить</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages}}</a>
        {% endif %}
    {% endif %}
{% endblock content %}
